<!DOCTYPE html>
<html lang="es">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Venuzka</title>
<!--FAvicon -->
		<link rel="icon"  href="images/venus_logo.ico">
		<link rel="icon" type="image/png" size="100x100"  href="images/venus_logo.png">

<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">


</head>
<body>
	<section id="home">
	<!-- section banner start -->
	<div class="header_section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<div><a href="index.html"><img class="logo" src="images/logo.png"></a></div>
				</div>
				<div class="col-md-8">
					<div class="menu_text">
						<ul>
							<!--
							<a href="#"><li class="last">Log in / Register</li></a>
							-->
							
							<li class="active">
							 <div id="myNav" class="overlay">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                             <div class="overlay-content">
                             	<a onclick="window.scrollTo(0,document.getElementById('home').scrollHeight);">Nueva Tarjeta</a>
                                <a onclick="window.scrollTo(0,document.getElementById('todas_las_tarjetas').scrollHeight);">Buscar o Agregar Registros a una Tarjeta</a>
								<a onclick="window.scrollTo(0,document.getElementById('buscar').scrollHeight);">Ver todas las Tarjetas</a>
                                <a onclick="window.scrollTo(0,document.getElementById('buscar').scrollHeight);">Eliminar Tarjeta</a>
                              </div>
                            </div>
                             <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
                            </div>	
                            </li>

						</ul>
					</div>
			</div>
		</div>
		
		<div class="banner_main">
			<div class="container">
				<div class="ram">
					<div class="row">
					    <div class="col-sm-12">
						    <h1 class="titulo">La Mejor Clinica Veterinaria de Chitre</h1>
							<p class="subtitulo">La Disponibilidad es lo primero🐦</p>
						    <p class="subtitulo">Consulta aqui la tarjeta de vacunacion de tu mascota🔎</p>
						    <div class="banner_bt">
						    	<button  class="read_bt" onclick="window.scrollTo(0,document.getElementById('nueva').scrollHeight);">Click Here</button>
                                <br><br><br>
						    </div>
					    </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</section>
	<!-- section banner end -->
	<!-- section Crear nueva Tarjeta -->
<section id="nueva">
	<div class="gallery_section_2">
		<div class="about_text">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<h3 class="get_taital">Crear Nueva Tarjeta</h3>
						<% 
                        let dateTime = new Date()
						let id = dateTime.getFullYear().toString()+(dateTime.getMonth()+1).toString()+dateTime.getDate().toString()+'-'+dateTime.getHours().toString() +dateTime.getMinutes().toString() +dateTime.getSeconds().toString();                
                        
						let minutos = "0"
						if (dateTime.getMinutes() < 10){
							minutos = "0" + dateTime.getMinutes().toString()
						}else{
							minutos = dateTime.getMinutes().toString()
						}
						let Time = dateTime.getHours().toString()+":"+ minutos +" "+dateTime.getDate().toString()+"-"+(dateTime.getMonth()+1).toString()+"-"+dateTime.getFullYear().toString()
						%>
						
							<form method="post" action="/veterinaria/add">
								<table class="nuevaTarjeta">
								<tr>
									<td> 
										<label>Identificador de la Mascota</label>
										<input type="text"  name="id" value="<%= id %>" readonly>
                                
									</td>
									<td>
										<label>Fecha</label>
										<input type="text"  name="hora_cita" value="<%= Time %>" readonly>
									</td>
																		
								</tr>
								<tr>
									<td><input type="text" name="PetName" placeholder="Nombre de la Mascota"></td>
									<td><input type="text" name="Especie" placeholder="Expecie">
									<input type="text" name="Raza" placeholder="Raza"></td>
								</tr>
								<tr>
									<td>
									<label>Sexo</label>
									<input type="radio" name="Sexo" value="F"><label>F</label>
									<input type="radio" name="Sexo" value="M"><label>M</label>
									</td>
									<td><label>Fecha de Nacimiento</label>
										<input type="date" name="Birth" placeholder="Fecha de Nacimiento">
									</td>							
								</tr>
								<tr>
									<td><input type="text" name="PetOwnerName" placeholder="Nombre del Dueño"></td>
									<td><input type="tel" name="OwnerPhone" placeholder="Telefono del Dueño"></td>
								</tr>
								<tr>
									<td><input type="text" name="Direccion" placeholder="Direccion"></td>
									<td><input type="text" name="Motivo" placeholder="Motivo de la Visita"></td>
								</tr>
								<tr>
									<td><input type="text" name="Detalles" placeholder="Detalle corto de la Visita"></td>
									<td><input type="number" name="Peso" step="any" placeholder="Peso en Libras"></td>
								</tr>
								<tr>
									<td><input type="number" name="Temperatura" step="any" placeholder="Temperatura en °C"></td>
									<td>
										<label for="">Proxima Cita:</label>
										<input type="datetime-local" name="nextDate"></td>
								</tr>
							</table>
								<input class="subscribe_bt" type="submit" onclick="return confirm('¿Seguro que desea Agregar el Registro?');" value="Agregar Datos">
								<input class="more_bt" type="reset" onclick="return confirm('¿Seguro que va a limpiar la Tabla?');" value="Limpiar">
							</form>
						
					</div>
					<div class="col-sm-4">
						<div class="dog_img"><img src="images/cat-img.png" style="max-width: 100%;"></div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>	
    <!-- section Crear nueva tarjeta end -->

	<!-- section gallery start -->
<section id="buscar">
    <div class="gallery_main layout_padding">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-12">
    				<h1 class="about_taital"><strong><span style="color: #ffffff;">Buscar</span> Tarjeta</strong></h1>
				    <p class="sed_text"> Busca la Tarjeta de tu mascota</p>
					<p class="sed_text"> Registra una nueva Cita</p>

					<form method="post" action="/select">
						<input type="text" name="PetIDBuscar" placeholder="Identificacion de tu Mascota" style="width: 25%;" required>
						<button type="submit">Buscar</button>
					</form>

    			</div>
    		</div>
    	</div>
    </div>

</section>
<section id="todas_las_tarjetas">
    <div class="touch_section">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-12">
				    <h1 class="get_taital"><strong><span style="color: #ffffff;">Todas las</span>  Tarjetas</strong></h1>
    			</div>
    		</div>
    		<div class="email_box">
				<table class="tarjeta">
					<% let c =0
					 veterinaria.forEach(function(veterinaria){%>
					<tr>
						<th>Datos Generales:<h3><%= veterinaria.value.PetName %></h3></th>
						<th>Identificacion: <%= veterinaria.id %></th>
						<th>Raza: <%= veterinaria.value.Raza %></th>
					</tr>
					<tr>
						<th>Especie: <%=veterinaria.value.Especie %></th>
						<th>Sexo <%= veterinaria.value.Sexo %></th>
						<th>Fecha de Nacimiento: <%= veterinaria.value.Birth %></th>
					</tr>

					<tr>
						<th>Nombre del Dueño: <%= veterinaria.value.PetOwnerName %></th>
						<th>Telefono: <%= veterinaria.value.OwnerPhone %></th>
						<td>
							<form method="post" action="/veterinaria/delete/<%= veterinaria.key %>">
								<input  type="hidden" value="<%= veterinaria.value.rev %>" name="rev">
								<input type="submit" class="botonAlingRight" onclick="return confirm('¿Seguro que desea Eliminar a <%= veterinaria.value.PetName %>?');" value="Eliminar Registro X">
							</form>
						</td>
					</tr>
					
						<%
							for(i in veterinaria.value.Citas){
						%>
						<tr>
							<th>Fecha de la Conulta: <%=veterinaria.value.Citas[i].Fecha %> Motivo de la Consulta: <%= veterinaria.value.Citas[i].Motivo %></th>
							<th>Detalles: <%= veterinaria.value.Citas[i].Detalles %></th>
							<th>Peso: <%= veterinaria.value.Citas[i].Peso %>Lbs     Temperatura: <%= veterinaria.value.Citas[i].Temperatura %>°C</th>
						</tr>
						<%
							}
						%>
						
					<% }); %>

				</table> <br> <br> <br>
    		</div>
    	</div>
    </div>
</section>
<section id="fooder">

</section>


	<!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
      $(document).ready(function(){
      $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         </script> 


   <script>
    function openNav() {
    document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
   document.getElementById("myNav").style.width = "0%";
   }
</script>
     
</body>
</html>