<!DOCTYPE html>
<html lang="es">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Venuzka</title>
<!--FAvicon -->
		<link rel="icon"  href="images/venus_logo.ico">
		<link rel="icon" type="image/png" sizes="120x120"  href="images/venus_logo.png">

<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">


</head>
<body>

    <section id="select">
        <div class="touch_section_2">
            <div class="container">

                <table class="tarjeta">
                    <h3 class="about_taital"><strong><span style="color: #ffffff;">Tarjeta de </span><%= consulta.PetName %></strong></h3>

                    <tr>
                        <th>Identificacion <%= consulta.PetID %></th>
                    </tr>
                    <tr>
                        <th>Datos Generales</th>
                        <td>Raza <%= consulta.Raza %></td>
                        <td>Sexo <%= consulta.Sexo %></td>
                        <td>Fecha de Nacimiento <%= consulta.Birth %></td>
                    </tr>
                    <tr>
                        <th>Datos del Propietario</th>
                        <td>Nombre <%= consulta.PetOwnerName %></td>
                        <td>Telefono <%= consulta.OwnerPhone %></td>

                    </tr>
                </table>

                <form>
                    
                </form>
                
            </div>
        </div>
    </section>

</body>
</html>