<!DOCTYPE html>
<html lang="es">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Venuzka</title>
<!--FAvicon -->
		<link rel="icon"  href="images/venus_logo.ico">
		<link rel="icon" type="image/png" sizes="120x120"  href="images/venus_logo.png">

<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">


</head>
<body>

    <section id="select">
        <div class="touch_section_2">
            <div class="container">

                <table class="tarjeta">
                    <h3 class="about_taital"><strong><span style="color: #ffffff;">Tarjeta de </span><%= consulta.PetName %></strong></h3>

                    <tr>
                        <th>Identificacion <%= consulta.PetID %></th>
                    </tr>
                    <tr>
                        <th>Datos Generales</th>
                        <td>Raza <%= consulta.Raza %></td>
                        <td>Sexo <%= consulta.Sexo %></td>
                        <td>Fecha de Nacimiento <%= consulta.Birth %></td>
                    </tr>
                    <tr>
                        <th>Datos del Propietario</th>
                        <td>Nombre <%= consulta.PetOwnerName %></td>
                        <td>Telefono <%= consulta.OwnerPhone %></td>

                    </tr>
                </table>
                <h1>Actualizar Tarjeta</h1>
                <div>
                    <form method="post" action="/update">
                        <% 
                        let today = new Date()
                        let date = today.getFullYear()+'/'+(today.getMonth()+1)+'/'+today.getDate();
                        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();

                        var dateTime = date+' '+time;
                        %>
                        <table>
                            <tr>
                                <td>
                                    <input type="text"  name="hora_cita" value="<%= dateTime %>" readonly>
                                </td>
                                <td>
                                    <select name="motivo" id="select-list">
                                        <option value="Citas">Cita</option>
                                        <option value="otro">Otro</option>
                                        <input type="text" id="txt-custom" name="otro_valor" placeholder="Nuevo Motivo"/>
                                    </select>
                                </td>
                                <td>
                                    <input name="detalles" placeholder="Resuma en una linea la consulta" style="width: 400px;" >
                                </td>
                            </tr>
                            <tr>
                                <td><input name="peso" placeholder="Peso"></td>
                                <td><input name="temperatura" placeholder="Temperatura"></td>
                                <td><input name="peso" placeholder="Peso"></td>
                            </tr>
                        </table>
                        
                        <input type="text" value="<%= consulta._id %>" name="identificador">
                        <input type="text" value="<%= consulta._rev%>" name="rev">
                        <input type="submit" value="Agregar Cambios ✅">
                      <script>
                        let selectEl = document.getElementById('select-list');
                        document.getElementById('txt-custom').style.display = 'none';
                        selectEl.addEventListener('change', (e) => {
                        if (e.target.value == 'otro') {
                            document.getElementById('txt-custom').style.display = 'block';
                        } else {
                            document.getElementById('txt-custom').style.display = 'none';
                        }
                        });
                      </script>
                    </form>
                </div>
                
            </div>
        </div>
        <!--JS-->
        <script>
            document.getElementById("hora_actual").innerHTML = Date();
        </script>
    </section>

</body>
</html>